/* @media screen and (max-height: 799px) {
    .default-app-layout{
        height: auto;
    }
    
} */

.default-app-layout{
    background-color: #e7e9eb;
    max-width: 100%;
    height: auto !important;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:1000px) and (min-height: 700px) {
    .default-app-layout{
        height: 100vh !important;
    }
    
}

@media screen and (min-width:400px) and (min-height: 900px) {
    .default-app-layout{
        height: 100vh !important;
    }
    
}