.footer{
    margin-top: auto;
    background-color: #e7e9eb;
    bottom: 0px;
    display: flex;
    justify-content:center;
    left: 0;
    right: 0;
    position: absolute;
}

.footer-body{
    max-width: 100%;
    margin: 0 auto;
}

@media screen and (max-width:500px) {
    .footer{
        position:relative;
    }
}
