.app-layout{
    position: relative;
}

.reset-new-password-screen-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.reset-new-password-screen{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 50%;
}

.reset-new-password-title{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.reset-image-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    margin-bottom: 40px;
}

.profile-img{
    width: 120px;
    height: 120px;
    position: relative;
}

#photo{
    height: 100%;
    width: 100%;
}

.description-screen{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}


.reset-new-password-form-group{
    padding: 24px 0 24px 0 ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:space-around; 
}

.reset-new-password-form-element{
    display: flex;
    align-items:center;
    width: 60%;
    justify-content: space-between;
    margin-bottom: 16px;
}

.form_input{
    border: none;
    border-bottom: 2px solid #d9eee1;
    width: 60%;
}

.save-button{
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 48px;
    background-color: transparent;
    padding: 10px 10px;
    font-size: 14px;
    border: 2px solid #e7e9eb;
    border-radius: 5px;
}

.save-button:hover{
    background-color: #d9eee1;
}

.save-button:checked{
    background-color: #04aa6d;
}

.copyright-reset-new-password-page{
    position: absolute;
    margin-top: auto;
    background-color: #e7e9eb;
    bottom: 0px;
    display: flex;
    justify-content:center;
    left: 0;
    right: 0;
}
