
.app-layout{
    position: relative;
}

.sign-up-screen-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up-screen{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 50%;
}

.register-title{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.sign-up-image-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    
}

.profile-img{
    width: 120px;
    height: 120px;
    position: relative;
}

#photo{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#file{
    display: none;
}

#uploadBtn{
    border-radius: 50%;
    height: 20px;
    position: absolute;
    bottom: 0;
    margin-bottom: 18px;
    margin-left: 34px;
    left: 50%;
    transform: translateX(-50%);
    text-align: justify;
    color: green;
    line-height: 19px;
    font-size: 32px;
    cursor: pointer;
    border: 2px solid;
}

.register-form-group{
    padding: 24px 0 24px 0 ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:space-around; 
}

.form-element-wrapper{
    display: flex;
    align-items:center;
    width: 60%;
    justify-content: space-between;
    margin-bottom: 16px;
}

.form_input{
    border: none;
    border-bottom: 2px solid #d9eee1;
    width: 60%;
}

.radio-toolbar {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}
  
.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: transparent;
    padding: 10px 10px;
    font-family: sans-serif, Arial;
    font-size: 14px;
    border: 2px solid #e7e9eb;
    border-radius: 5px;
}

.radio-toolbar label:hover {
    background-color: #d9eee1;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #04aa6d;
    border-color: #d9eee1;
}
  
.save-sign-up-button-wrapper {
    width: 60%;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.save-sign-up-button{   
    width: 120px;
    height: 48px; 
    display: inline-block;
    background-color: transparent;
    padding: 10px 10px;
    font-size: 14px;
    border: 2px solid #e7e9eb;
    border-radius: 5px;
}

.save-sign-up-button:hover{
    background-color: #d9eee1;
}

.save-sign-up-button:checked{
    background-color: #04aa6d;
}

.already-member{
    color: #282a35;
    padding-left: 30px;
}

.already-member:hover{
    color: #04aa6d;
}

.copyright-register-page{
    position: absolute;
    margin-top: auto;
    background-color: #e7e9eb;
    bottom: 0px;
    display: flex;
    justify-content:center;
    left: 0;
    right: 0;
}
