.header-body{
    background-color: #d9eee1;
    max-width: 100%;
    padding: 10px;
    margin: 0;
    display: flex;
    position: relative;
    justify-content: space-between;
}

/* .navigation{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0px;
    padding: 0px;
} */

.header-body a {
    text-decoration: none;
    font-weight: 400;
    color: #282a35;
    float: left;
    margin-top: 10px;
    padding: 10px 10px 0px 10px;
}

.header-body a:hover {
    font-weight: 600;
}

.header-body a:active {
    font-weight: 600;
}

.header-body .bars-icon{
    display: none;
}

.icon{
    position: relative;
}

.counter{
    width: 5px;
    height: 5px;
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
}


@media screen and (max-width: 900px) {
    .header-body a:not(:first-child) {display: none;}
    .header-body .bars-icon {
      float: right;
      display: block;
      background-color: transparent;
      border: none;
      font-size: 18px;
    }
}
  
@media screen and (max-width: 900px) {
    .header-body.responsive {
        position: relative;
        display: block;
    }
    
    .header-body.responsive .bars-icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .header-body.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-body.responsive input.search-bar{display:none;}
}