.header-body{
    background-color: #d9eee1;
    max-width: 100%;
    padding: 10px;
    margin: 0;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.navigation{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #282a35;
    float: left;
    margin-top: 10px;
    padding: 10px 10px 0px 10px;
}

.icons{
    display: flex;
    align-items: center;
}

.icon{
    position: relative;
}

.counter{
    width: 5px;
    height: 5px;
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 6px;

}

